	{% extends 'General/Base.html' %}
	
	{% block Contenido %}
		
  					<div class="span8">
						<ul class="tiles">
							<li class="teal long">
								<a href="{{NeuralRutasApp.RutaURL}}AdminUsuarios/GestionUsuarios"><span class="count"><i class="icon-list-ol"></i> 12</span><span class="name">Gestión de Usuarios</span></a>
							</li>
							<li class="blue">
								<a href="{{NeuralRutasApp.RutaURL}}AdminUsuarios/NuevoUsuario"><span><i class="icon-user"></i></span><span class="name">Nuevo Usuario</span></a>
							</li>
							<li class="lime long">
								<a href="{{NeuralRutasApp.RutaURL}}AdminUsuarios/GestionAsesores"><span class="count"><i class="icon-list-ol"></i> 12</span><span class="name">Gestión de Asesores</span></a>
							</li>
							<li class="green">
								<a href="{{NeuralRutasApp.RutaURL}}AdminUsuarios/NuevoAsesor"><span><i class="icon-user"></i></span><span class="name">Nuevo Asesor</span></a>
							</li>
							<li class="teal long">
								<a href="{{NeuralRutasApp.RutaURL}}AdminUsuarios/NuevosAsesoresExcel"><span><i class="icon-user"></i></span><span class="name">Asesores Por Lote Excel</span></a>
							</li>
						</ul>
					</div>		
			
	{% endblock %}
		
	{% block Script %}{% endblock %}