	{% extends 'General/Base.html' %}
	
	{% block Contenido %}
		<style>
			label {
				font-weight: bold;
				font-family: verdana;
				font-size: 10px;
				width: 45px;
			}
			.text-input {
				font-family: verdana;
				font-size: 10px;
				text-indent: 10px;
				font-weight: bold;
			}
			.error {
				font-family: verdana;
				font-size: 10px;
				color: red;
				width: 100%;
			}
		</style>
		<div class="row-fluid">
					<div class="span6">
						<div class="box box-bordered">
							<div class="box-title">
								<h3>
									<i class="icon-reorder"></i>
									Firmware Cablemodems Internet
								</h3>
							</div>
							<div class="box-content">
							
								<div id="ContenidoNuevaMarcaModeloExistentes" style="display: block;">
									<form action="#" method="POST" name="Firmware_form" id="Firmware_form" class="form-horizontal">
										<label>Marca</label>
										<select name="Marca" id="Marca"></select> 
										<label>Modelo</label>
										<input name="Firmware" id="Firmware" class="text-input" />
										<br /><br />
										<input type="submit" value="Guardar" class="btn btn-primary" />
									</form>
								</div>
								 
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="box box-color box-bordered">
							<div class="box-title">
								<h3>
									<i class="icon-reorder"></i>
									Firmware
								</h3>
							</div>
							<div class="box-content" id="ContenidoModems">
								 
							</div>
						</div>
					</div>
				</div>
	{% endblock %}
		
	{% block Script %}
		<script>
			$(document).ready(function() {
				$("#Marca").load("{{NeuralRutasApp.RutaURL}}Ajax_AdminContenido/ListarMarCablemodems");
				$("#ContenidoModems").load("{{NeuralRutasApp.RutaURL}}Ajax_AdminContenido/InternetListadoFirmware");
			});
		</script>
		
		
		<script type="text/javascript" src="{{NeuralRutasApp.RutaURLBase}}Public/js/jquery.validate.js"></script>
		<script>
			$(document).ready(function() {
				
				$("#Firmware_form").validate({
					rules: {
						Marca: {required: true}, 
						Firmware: {required: true}
					},
					messages: {
						Marca: {required: "Seleccione La Marca del Cablemodem"},
						Firmware: {required: "Ingrese el Nuevo Firmware del Cablemodem"}
					},
				submitHandler: function(form) {
					var Marca = $("#Marca").val();
					var Firmware = $("#Firmware").val();
					$.ajax({
						type: "POST", 
						url: "{{NeuralRutasApp.RutaURL}}Ajax_AdminContenido/InternetAgregarFirmware/{{Fecha}}", 
						dataType: "html", 
						data: { Marca : Marca, Firmware : Firmware}, 
						beforeSend:function(){
							$("#ContenidoModems").html('<div style="border: 0px; font-family: verdana; text-align: center;"><img src="{{NeuralRutasApp.RutaPublico}}img/plugins/xeditable/loading.gif" alt="" style="border: 0px; font-family: verdana; width: 25px; height: 25px; text-align: center;" /></div>');
						},
						success: function(){
							$("#Marca").load("{{NeuralRutasApp.RutaURL}}Ajax_AdminContenido/ListarMarCablemodems");
							$("#ContenidoModems").load("{{NeuralRutasApp.RutaURL}}Ajax_AdminContenido/InternetListadoFirmware");
						}
					})
					}
				});
								
			});
		</script>
		<script>
			$(document).ready(function() {
				$('#Firmware_form').submit(function () {
					$('#Firmware_form')[0].reset();
				});
			});
		</script>
	{% endblock %}